* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.footer {
  padding: 0px 0px;
  width: 100%;
  background: #ecf2f7;
}
.footer .tag h1{
  text-align: center;
  font-family: Papyrus;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
.footer .team {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.footer .tag .team .fix img{
  height: 57%;
  width: 57%;
  /* border: 2px solid black; */
  margin: 1%;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 5px 5px 4px black;
}
.footer .tag .team .fix p{
  width: 55%;
  text-align: center;
  font-family: fantasy;
}
.footer .tag .team .fix{
  padding-left: 30px;
}
.footer .container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer .container .video{
  padding-top: 30px;
}
.footer .container .about {
  max-width: 30%;
}
.footer .container .about .detail p {
  margin-top: 20px;
  font-size: 16px;
  color: #010f1c;
}
.footer .container .about .detail .icon {
  margin-top: 20px;
  display: flex;
}
.footer .container .about .detail .icon li {
  margin-left: 20px;
  list-style: none;
  padding: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
  transition: 0.5s;
}
.footer .container .about .detail .icon li:hover {
  background: #0989ff;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
}
.footer .container .account {
  margin-right: 100px;
  margin-top: 30px;
}
.footer .container .account h3 {
  font-size: 32px;
  color: #010f1c;
}
.footer .container .account ul {
  margin-top: 10px;
  margin-left: 20px;
}
.footer .container .account ul li {
  margin-top: 5px;
  color: #010f1c;
  font-size: 14px;
  transition: 0.5s;
  cursor: pointer;
}
.footer .container .account ul li:hover {
  color: #0989ff;
}
.footer .container .page {
  margin-right: 100px;
  margin-top: 60px;
}
.footer .container .page h3 {
  font-size: 32px;
  color: #010f1c;
}
.footer .container .page ul {
  margin-top: 10px;
  margin-left: 20px;
  text-decoration: none;
}
.footer .container .page .link {
  margin-top: 5px;
  color: #010f1c;
  font-size: 15px;
  transition: 0.5s;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
}
.footer .container .page .link:hover {
  color: #0989ff;
  text-decoration: underline;
}
.footer .container .about .logo img{
  border-radius: 8px;
  box-shadow: 10px 10px 5px green;
}
.tag{
  background-image: linear-gradient(90deg , #ffd89b , #19547b);
}
.page  pre{
  color: red;
}
@media screen and (width>0px){
  .footer{
    width: 1515px;
  }
}