@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*
{
    margin: 0;
    padding: 0% 2%;
    font-family: sans-serif;
    box-sizing: border-box;
    /* margin-top: 50vh; */
}
.free
{
    position: fixed;
    padding: 10px 30px;
    width: 100%;
    background: black;
    display: flex;
    overflow: hidden;
    margin-top: 700px;
    z-index: 1;
    height: 100px;
}
.free .icon
{
    color: white;
    font-size: 32px;
    margin-left: 5px;
    animation: typing 3s steps(50) infinite;
    position: relative;
}

.free span
{
    margin-left: 10px;
    color: #f6f7f9;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
 @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }
.main_header
{
    padding: 30px 40px;
    width: 100%;
    background-image: linear-gradient(180deg,#bdc3c7 , #2c3e50);
}

.main_header .container
{
    display: flex;
    justify-content: space-between;
}

.main_header .container .search_box
{
    margin-right: 30px;
}
.main_header .container .search_box input
{
    outline: none;
    padding: 10px 30px;
    border: 3px solid #0989ff;
    width: 300px;
    color: #010f1c;
}
.main_header .container .search_box button
{
    border: 3px solid #0989ff;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    background: #0989ff;
    color: #ecf2f7;
}
.main_header .container .icon
{
    display: flex;
    margin-right: 50px;
}
.main_header .container .icon .account
{
    display: flex;
    margin-right: 30px;
}
.main_header .container .icon .account .user_icon
{
    margin-right: 10px;
    font-size: 22px;
    color: #010f1c;
    cursor: pointer;
}
.main_header .container .icon .account p
{
    margin-right: 5px;
    margin-top: 2px;
    color: #010f1c;
}
.main_header .container .icon .second_icon
{
    display: flex;
}
.main_header .container .icon .second_icon .link
{
    margin-right: 5px;
    font-size: 22px;
    cursor: pointer;
    color: blue;
}
.header
{
    width: 100%;
    padding: 20px 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #000;
}
.header .container
{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}
.header .container .nav ul
{
    display: flex;
}
.header .container .nav ul li
{
    margin-left: 40px;
    list-style: none;
}
.header .container .nav ul li .link
{
    text-decoration: none;
    color: hsl(0, 0%, 28%);
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    cursor: pointer;
    transition: 0.5s ease-out;
}
.header .container .nav ul li .link:hover:nth-child(1)
{
    margin-right: 15px;
}
.header .container .nav ul li .link:hover:nth-child(2)
{
    margin-left: 35px;
}
.header .container .nav ul li .link:hover
{
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}
.header .container .auth
{
    margin-right: 20px;
    font-size: 22px;
    cursor: pointer;
}
.header .container .auth button
{
    margin-right: 20px;
    font-size: 22px;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    color: #fff;
}
.logo img{
    border-radius: 8px;
    box-shadow: 10px 10px 5px green;
}
@media screen and (width>0px) {
    .main_header{
        width: 1515px;
    }
    .free{
        width: 1515px;
    }
    .header{
        width: 1515px;
    }
}